.firework-container {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center-dot {
    width: 10px;   /* 点のサイズ */
    height: 10px;  /* 点のサイズ */
    background-color: rgb(255, 181, 181);
    border-radius: 50%; /* 円形にする */
    position: absolute;
    top: 50%; /* コンテナの中央 */
    left: 50%; /* コンテナの中央 */
    transform: translate(50%, 150%); /* 中心に正確に配置 */
}

  .dot1 {
    --size: 20px; /* アイコンのサイズを調整 */
    --rotate: calc(var(--n) * 360deg / 6); /* 360度をアイコンの数で割る */
    position: absolute;
    width: var(--size);
    height: var(--size);
    font-size: var(--size);
    transform-origin: center bottom; /* アイコンの回転軸を調整 */
    transform: rotate(var(--rotate)) translate(30px) rotate(-90deg);
    color: rgb(255, 181, 181);
  }

  .dot2 {
    --size: 20px; /* アイコンのサイズを調整 */
    --rotate: calc(var(--n) * 360deg / 12); /* 360度をアイコンの数で割る */
    position: absolute;
    width: var(--size);
    height: var(--size);
    color: rgb(248, 66, 66); /* アイコンの色 */
    font-size: var(--size);
    transform-origin: center bottom; /* アイコンの回転軸を調整 */
    transform: rotate(var(--rotate)) translate(60px) rotate(-90deg);
  }
  
  .dot3 {
    --size: 20px; /* アイコンのサイズを調整 */
    --rotate: calc(var(--n) * 360deg / 24); /* 360度をアイコンの数で割る */
    position: absolute;
    width: var(--size);
    height: var(--size);
    color: red; /* アイコンの色 */
    font-size: var(--size);
    transform-origin: center bottom; /* アイコンの回転軸を調整 */
    transform: rotate(var(--rotate)) translate(100px) rotate(-90deg);
  }
  
  
  
  