.firework-container {
  position: relative;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-15px, 0px);
}

.center-dot {
  width: 20px;  
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(12%, 80%);
  filter: brightness(2.5) !important;
}

.dot1 {
  --size: 25px;
  --rotate: calc(var(--n) * 360deg / 6);
  position: absolute;
  width: var(--size);
  height: var(--size);
  font-size: var(--size);
  transform-origin: center bottom;
  transform: rotate(var(--rotate)) translate(60px) rotate(-90deg) scaleX(0.5) scaleY(1.5);
  /* 横幅を縮小し縦を拡大 */
  filter: brightness(2.5) !important;
}

.dot2 {
  --size: 25px;
  --rotate: calc(var(--n) * 360deg / 12);
  position: absolute;
  width: var(--size);
  height: var(--size);
  font-size: var(--size);
  transform-origin: center bottom;
  transform: rotate(var(--rotate)) translate(100px) rotate(-90deg) scaleX(0.5) scaleY(1.5);
  filter: brightness(1.7) !important;
}

.dot3 {
  --size: 25px;
  --rotate: calc(var(--n) * 360deg / 24);
  position: absolute;
  width: var(--size);
  height: var(--size);
  font-size: var(--size);
  transform-origin: center bottom;
  transform: rotate(var(--rotate)) translate(150px) rotate(-90deg) scaleX(0.5) scaleY(1.5);
  filter: brightness(1) !important;
}
