/* footer {
    background-color:  rgb(31, 45, 55);
    min-width: 66%;


    padding: 1% 8%;
    margin: 27px;
    

    bottom: 0;
    position: fixed;

    border-radius: 100px;
}

ul {
    padding: 0;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;

    display: flex;
    justify-content: space-between;
} */